.product{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.product-des h4{
    color: rgb(58, 58, 233);
    font-weight: 600;
}
.product-des{
    margin-left: 20px;
    
}
.product-des h3,p{
    font-weight: 400;
}
.add-btn{
    background-color: #F0C14B;
    width: 200px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}